#subject {
	width: 706px;
	font-size: 20px;
}

#message {
	width: 720px;
	height: 350px;
}

#app-content hr {
	width: 85%;
	border: none;
	border-bottom: solid 1px #ddd;
}

.emptycontent-admin {
	position: inherit !important;
	margin-top: 50px !important;
}

.blog .delete-link img {
	width: 16px;
	vertical-align: middle;
	padding-bottom: 3px;
}

.blog .delete-link {
	display: none;
}

.blog .section:hover .delete-link {
	display: inline;
}

.section > span {
	opacity: 0.5;
	padding-right: 7px;
}
